body {
    margin: 0;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%232b2b2a' fill-opacity='0.57' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.container {
    display: flex;
    justify-content: center;
}

.bar {
    display: flex;
    justify-content: space-between;
    border: black solid 2px;
    height: 75px;
    background-color: #006400;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23008000' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    font-family: 'Abril Fatface', serif;
}

.messageEl {
    color: white;
    font-size: 30px;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.gameBox {
    height: 600px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    background-color: #006400;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23008000' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    box-shadow: inset 5px 5px 10px 5px rgba(0, 0, 0, .8);
    border: 15px inset #ac0505;
    border-radius: 20px;
}

.buttons {
    display: flex;
    margin-top: 5%;
}

.dealer {
    margin-top: 30px;
}

.dealer,
.player {
    flex: 1;
    min-height: 200px;
}

.card {
    background-color: white;
    border: solid black 2px;
    margin-right: 10px;
    border-radius: 5px;
    width: 100px;
    height: 139px;
}

.button {
    box-shadow: inset 0px 2px 0px 0px #ffffff;
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 2px solid #cecccc;
    cursor: pointer;
    color: #916893;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-shadow: 0px 2px 0px #ffffff;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 120px;
}

.button:hover {
    background-color: rgb(230, 223, 223);
    border:solid 2px #dcd9d9;
}

.button:active {
    position: relative;
    top: 1px;
}

.resetBtn {
    color: yellow;
    border: solid yellow 2px;
    height: 30px;
    width: 90px;
    font-size: 20px;
    text-align: center;
    background-color: #000000;
    margin-right: 20px;
    margin-top: 20px;
    letter-spacing: 1px;
}

img {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin-top: 5px;
    margin-left: 20px;
    box-shadow: 5px 0px 15px 0px #000000;
}

.dealerSecond {
    visibility: hidden;
}